<meta charset="utf-8">
<title>{{ site.description }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
{% if site.owner.twitter %}<!-- Twitter Card and Open Graph tags -->
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@{{ site.owner.twitter }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:image:src" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">{% endif %}
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<!-- Webmaster Tools verfication -->
{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ '/css/main.min.css' | relative_url }}" type="text/css" />


{% if site.rtl %}
<link rel="stylesheet" href="{{ '/css/main.min.rtl.css' | relative_url }}" type="text/css" />
<style>
    .highlight pre {
        direction: ltr;
    }
</style>
{% else %}
<link rel="stylesheet" href="{{ '/css/main.min.css' | relative_url }}" type="text/css" />
{% endif %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="apple-touch-icon" sizes="57x57" href="{{ '/css/apple-icon-57x57.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ '/css/apple-icon-60x60.png'  | relative_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/css/apple-icon-72x72.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ '/css/apple-icon-76x76.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ '/css/apple-icon-114x114.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ '/css/apple-icon-120x120.png'  | relative_url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ '/css/apple-icon-144x144.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ '/css/apple-icon-152x152.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/css/apple-icon-180x180.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ '/css/android-icon-192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/css/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/css/favicon-96x96.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/css/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ '/css/ms-icon-144x144.png' | relative_url }}"">
<meta name="theme-color" content="#ffffff">
