<div class="header-container">
    <header class="wrapper clearfix">
        <a href="/"><h1 class="title">Vinit's Weblog</h1></a>
        <nav>
            <ul> 
                <li><a href="/about"><i class="fa fa-user"></i> About</a></li>
                
                <li><a href="/articles"><i class="fa fa-pencil"></i> Blog</a></li>
                
                <li><a href="http://github.com/vinitkumar"><i class="fa fa-github-alt"></i> Code</a></li>
                
            </ul>
        </nav>
    </header>
</div